img {
  width: 50px;

}

p {
  margin-top: 1vh;
  margin-bottom: 1rem;
}

.modal.fade {
  z-index: 10000000 !important;
}

#inside {
justify-content: space-around;
  padding: 10vh 2vw;
}

#nav-bar{
      z-index: 9999;
      position: fixed;
      width: 100%;
      padding: 10px;
      top: 0;
      background-color: #3C7C89;
      margin-bottom: 1vh;
}

#nav-bar a{
  color: white;
}

#phone-number {
  display: block;
  font: 1rem ‘Fira Sans’, sans-serif;
}
input,
#phone-number {
  margin: .4rem 0;
}

#kobe {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
align-content: center;
}

#kobe-img {

  width: 100px;

}

.list-group-item {
  border: none;
}

#wrapper {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
align-content: center;
}